.parent
{
    background-color:black;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    height:100px;
}
.formm{
    margin-left: 70px;
    margin-top:40px;
}
input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 60px;
    box-sizing: border-box;
  }
.input1{
    background-color: black;
    color:white;
    border-radius: 100px;
    margin-left:15px;
    width:80px;
    height: 30px;
}
.Signin{
    position:absolute;
    background-color: black;
    color:white;
    border-radius: 100px;
    margin-left:650px;
    width:80px;
    height:30px;
}
.SignUp{
    position:absolute;
    background-color: black;
    color:white;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left:750px;
    width:80px;
    height:30px;
}
  


.parent1{
    position:relative;
    background-color: black;
    color:white;
    display:flex;
    height: 60px;
    width:100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parent1 ul{
    display: flex;
    list-style-type: none;
}

.parent1 ul li{
    margin:0 90px;
    justify-content:space-between;
}
.parent1 ul li a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: aliceblue;
}
.quotebio{
    padding-top:30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.quotehead{
    margin-top: 60px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.descriptbio{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.infohead{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quotes1{

    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.q1{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(179, 216, 248);
    text-shadow: 1px 1px 1px black;
}
.hh1{
    text-align: right;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-shadow: 1px 1px 1px rgb(179, 216, 248);
}
.quotes2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.q2{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(179, 216, 248);
    text-shadow: 1px 1px 1px black;
}
.hh2{
    text-align: right;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-shadow: 1px 1px 1px rgb(179, 216, 248); 
}
.quotes3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
.q3{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(179, 216, 248);
    text-shadow: 1px 1px 1px black;
}
.hh3{
    text-align: right;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-shadow: 1px 1px 1px rgb(179, 216, 248); 
}
.parentbio{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.biocard{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.biocard:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.biopic img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.biocontent{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.bioprice{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.bioprice1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#000000;
    text-decoration:line-through;
}
.biobut1{
    padding-bottom: 10px;
}
.biobu1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(44, 81, 194);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentbio2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.biocard2{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.biocard2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.biopic2 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.biocontent2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.biopricee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.bioprice2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#000000;
    text-decoration:line-through;
}
.biobut2{
    padding-bottom: 10px;
}
.biobu2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(44, 81, 194);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentbio3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.biocard3{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.biocard3:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.biopic3 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.biocontent3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.biopriceee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.bioprice3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#000000;
    text-decoration:line-through;
}
.biobut3{
    padding-bottom: 10px;
}
.biobu3{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(44, 81, 194);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentbio4{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.biocard4{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.biocard4:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.biopic4 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.biocontent4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.biopriceeee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(44, 81, 194);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.bioprice4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#000000;
    text-decoration:line-through;
}
.biobut4{
    padding-bottom: 10px;
}
.biobu4{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(44, 81, 194);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}