.parent
{
    background-color:black;
    position:relative;
    display: flex;
}
.formm{
    margin-left: 70px;
    margin-top:40px;
}
input[type="text"] {
    width: 300px;
    height: 25px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: white;
  }
.input1{
    background-color: black;
    color:white;
    border-radius: 100px;
    margin-left:15px;
    width:80px;
    height: 30px;
}
.Signin{
    position:absolute;
    background-color:white;
    color:black;
    border-radius: 100px;
    margin-left:650px;
    width:80px;
    height:30px;
}
.SignUp{
    position:absolute;
    background-color:white;
    color:black;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left:750px;
    width:80px;
    height:30px;
    cursor:pointer;
}
  


.parent1{
    position:relative;
    background-color: black;
    color:aliceblue;
    display:flex;
    height: 60px;
    width:100%;
    justify-content: space-around;
}

.parent1 ul{
    display: flex;
    list-style-type: none;
}

.parent1 ul li{
    margin:0 90px;
    justify-content:space-between;
}
.parent1 ul li a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
    color:aliceblue;
    cursor:pointer;
}
.infoheaddc{
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentdc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.video-containerdc {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
    background-attachment: fixed;
    background-color: black;
    width:100%;
    height:auto;
}
.video-containerdc video{
    width:100%;
    height: 720px;
}
.aboutdc{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.dchead{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 81, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.briefdc{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.briefdc:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.dccard{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: black;
}
.dccard:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.dpic img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.dcontent{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcprice{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcprice1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#ebdc36;
    text-decoration:line-through;
}
.dbut1{
    padding-bottom: 20px;
}
.dbu1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentdc2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.dccard2{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: black;
}
.dccard2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.dpic2 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.dcontent2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcpricee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcprice2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#ebdc36;
    text-decoration:line-through;
}
.dbut2{
    padding-bottom: 20px;
}
.dbu2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentdc3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.dccard3{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: black;
}
.dccard3:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.dpic3 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.dcontent3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcpriceee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcprice3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#ebdc36;
    text-decoration:line-through;
}
.dbut3{
    padding-bottom: 20px;
}
.dbu3{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentdc4{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.dccard4{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: black;
}
.dccard4:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.dpic4 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.dcontent4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcpriceeee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 149, 255);
}
.dcprice4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#ebdc36;
    text-decoration:line-through;
}
.dbut4{
    padding-bottom: 20px;
}
.dbu4{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.newshead{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding:0px auto;
    width: 100%;
    background-color: black;
}
.updates{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;

}
.news1 {
    display: flex;
    flex-direction: row;
    align-items: center; /* Align items vertically in the center */
    gap: 60px; /* Add some space between the image and content */
    padding-top: 90px;
    justify-content: center;
}

.displayimg1 img {
    width: 350px;
    height: 220px;
    box-shadow: 3px 3px 6px black;
}

.new1 {
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    word-wrap: break-word; /* For legacy support */
    overflow-wrap: break-word; /* For modern browsers */
    max-width: 800px;
}
.new1:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.new1 h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-shadow :2px 2px 2px rgb(0, 0, 0);
    color: rgb(0, 157, 255);
}

.news2{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:60px;
    padding-top: 100px;
}
.displayimg2 img{
    width: 350px;
    height: 220px;
    box-shadow: 3px 3px 6px black;
}
.new2{
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    overflow-wrap:break-word;
    max-width: 800px;
}
.new2:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.new2 h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-shadow :2px 2px 2px rgb(0, 0, 0);
    color: rgb(0, 157, 255);
}
.news3{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap:60px;
}
.displayimg3 img{
    width: 350px;
    height: 220px;
    box-shadow: 3px 3px 6px black;
}
.new3{
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 800px;
}
.new3:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.new3 h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-shadow :2px 2px 2px rgb(0, 0, 0);
    color: rgb(0, 132, 255);
}
.news4{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    gap:60px;
}
.displayimg4 img{
    width: 350px;
    height: 220px;
    box-shadow: 3px 3px 6px black;
}
.new4{
    font-size: 17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 800px;
}
.new4:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
}
.new4 h2{
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    text-shadow :2px 2px 2px rgb(0, 0, 0);
    color: rgb(0, 132, 255);
}
.othercomic{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:150px;
}
.cardd1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dcimag1 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.dcimag1 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcsub p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dcbuy{
    padding-top: 20px;
}
.dcbuy button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}

.cardd2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dcimag2 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.dcimag2 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcsub2 p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dcbuy2{

}
.dcbuy2{
    padding-top: 20px;
}
.dcbuy2 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}

.cardd3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dcimag3 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.dcimag3 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcsub3 p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dcbuy3{

}
.dcbuy3{
    padding-top: 20px;
}
.dcbuy3 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}

.cardd4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dcimag4 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.dcimag4 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcsub4 p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dcbuy4{

}
.dcbuy4{
    padding-top: 20px;
}
.dcbuy4 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.cardd5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dcimag5 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.dcimag5 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcsub5 p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dcbuy5{

}
.dcbuy5{
    padding-top: 20px;
}
.dcbuy5 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.upcomingcomic{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:100px;
}
.upcomed1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ucimag1 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.ucimag1 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcbuy6{
    padding-top: 20px;
}
.dcbuy6 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.upcomed2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ucimag2 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.ucimag2 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcbuy7{
    padding-top: 20px;
}
.dcbuy7 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.upcomed3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ucimag3 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.ucimag3 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcbuy8{
    padding-top: 20px;
}
.dcbuy8 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.upcomed4{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ucimag4 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.ucimag4 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcbuy9{
    padding-top: 20px;
}
.dcbuy9 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}
.upcomed5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ucimag5 img{
    width:250px;
    height:400px;
    box-shadow: 4px 4px 10px gray;
}
.ucimag5 img:hover{
    transform: translateY(-20px);
    transition: transform 0.5s ease;
}
.dcbuy10{
    padding-top: 20px;
}
.dcbuy10 button{
    background-color:black;
    color:aliceblue;
    width:140px;
    height:40px;
    border-radius: 10px;
}