.parent
{
    background-color:black;
    position:relative;
    display: flex;
}
.formm{
    margin-left: 70px;
    margin-top:40px;
}
input[type="text"] {
    width: 300px;
    height: 25px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 60px;
    box-sizing: border-box;
    background-color: white;
  }
.input1{
    background-color: black;
    color:white;
    border-radius: 100px;
    margin-left:15px;
    width:80px;
    height: 30px;
}
.Signin{
    position:absolute;
    background-color:white;
    color:black;
    border-radius: 100px;
    margin-left:750px;
    width:80px;
    height:30px;
}
.SignUp{
    position:absolute;
    background-color:white;
    color:black;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-left:850px;
    width:80px;
    height:30px;
    cursor:pointer;
}
  


.parent1{
    position:relative;
    background-color: black;
    color:aliceblue;
    display:flex;
    height: 60px;
    width:100%;
    justify-content: space-around;
}

.parent1 ul{
    display: flex;
    list-style-type: none;
}

.parent1 ul li{
    margin:0 90px;
    justify-content:space-between;
}
.parent1 ul li a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
    color:aliceblue;
    cursor:pointer;
}
.descriptmystery{
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.infoheadmyst{
    background-color: black;
    color: white;
    margin-top: 60px;
    padding: 30px;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentmystery{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.mysterycard{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.mysterycard:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mpic img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.montent{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mprice{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mprice1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:black;
    text-decoration:line-through;
}
.mbut1{
    padding-bottom: 20px;
}
.mbu1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentmystery2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.mysterycard2{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.mysterycard2:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mpic2 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.montent2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mpricee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mprice2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:black;
    text-decoration:line-through;
}
.mbut2{
    padding-bottom: 20px;
}
.mbu2{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentmystery3{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.mysterycard3{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.mysterycard3:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mpic3 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.montent3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mpriceee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mprice3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:black;
    text-decoration:line-through;
}
.mbut3{
    padding-bottom: 20px;
}
.mbu3{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parentmystery4{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    padding:60px;
}
.mysterycard4{
    box-sizing: border-box;
    box-shadow: 4px 4px 8px grey;
    width:250px;
    height:auto;
    border-radius: 20px;
    background-color: aliceblue;
}
.mysterycard4:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.mpic4 img{
    border-radius: 20px;
    width:220px;
    height:300px;
    margin-top: 10px;
}
.montent4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mpriceeee{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color:rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}
.mprice4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color:#000000;
    text-decoration:line-through;
}
.mbut4{
    padding-bottom: 20px;
}
.mbu4{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width:120px;
    height:30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 2px rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutwriter{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.writer{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cowriter{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.picwrite{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.picwrt img{
    box-shadow: 4px 4px 8px rgb(53, 53, 53);
    width:250px;
    height: 250px;
}
.cowriter2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.picwrite2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.picwrt2 img{
    box-shadow: 4px 4px 8px rgb(53, 53, 53);
    width:250px;
    height: 250px;
}
.cowriter3{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
.picwrite3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.picwrt3 img{
    box-shadow: 4px 4px 8px rgb(53, 53, 53);
    width:250px;
    height: 250px;
}
.cowriter4{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
.picwrite4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
.picwrt4 img{
    box-shadow: 4px 4px 8px rgb(53, 53, 53);
    width:250px;
    height: 250px;
}
